<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>Bilatu lanpostuak</title>
    <style>
        .full-screen-section {
            min-height: 100vh;
            display: flex;
            align-items: center;
            background-image: url('/images/fondo_findJob.jpg');
            background-size: cover;
            background-position: center;
            position: relative;
        }

        .bg-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

        .bg-login {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            position: relative;
            z-index: 1;
        }

        /* Agregamos margen inferior entre las filas de filtros */
        .search-form .row:not(:last-child) {
            margin-bottom: 20px;
        }

        /* Agregamos margen inferior al contenedor de los valores de salario */
        .salary-container {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <header th:if="${session.user_role == null}">
        <div th:replace="~{header :: header}"></div>
    </header>
    <header th:if="${session.user_role != null}">
        <div th:replace="~{header_loged :: header}"></div>
    </header>

    <section class="full-screen-section py-3 py-md-5 py-xl-8">
        <div class="bg-overlay"></div>
        <div class="container bg-login">
            <div class="intro-text">
                <h1>Kurtsoak bilatu</h1>
                <p class="fs-4">Aurkitu zure trebetasun, interes eta helburuetara hobekien egokitzen den kurtso
                    profesionalak.</p>
            </div>
            <form class="search-form">
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="search"
                                placeholder="Buscar por nombre del trabajo o empresa">
                            <label for="search">Kurtso izenez bilatu</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="sector">
                                <option value="" selected>---Aukeratu sektore bat---</option>
                                <option value="it">IT</option>
                                <option value="marketing">Marketing</option>
                                <option value="finance">Finantzak</option>
                                <option value="health">Osasuna</option>
                                <option value="education">Heziketa</option>
                            </select>
                            <label for="sector">Sektorea</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="difficulty">
                                <option value="" selected>---Aukeratu zailtasun bat---</option>
                                <option value="beginner">Hasiberria</option>
                                <option value="intermediate">Erditzea</option>
                                <option value="advanced">Aurreratua</option>
                            </select>
                            <label for="difficulty">Zailtasuna</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="location">
                                <option value="1">---Probintzia bat aukeratu---</option>
                                <option value="Alava">Álava</option>
                                <option value="Albacete">Albacete</option>
                                <option value="Alicante">Alicante</option>
                                <option value="Almeria">Almería</option>
                                <option value="Asturias">Asturias</option>
                                <option value="Avila">Ávila</option>
                                <option value="Badajoz">Badajoz</option>
                                <option value="Barcelona">Barcelona</option>
                                <option value="Burgos">Burgos</option>
                                <option value="Caceres">Cáceres</option>
                                <option value="Cadiz">Cádiz</option>
                                <option value="Cantabria">Cantabria</option>
                                <option value="Castellon">Castellón</option>
                                <option value="Ceuta">Ceuta</option>
                                <option value="Ciudad Real">Ciudad Real</option>
                                <option value="Cordoba">Córdoba</option>
                                <option value="Cuenca">Cuenca</option>

                                <option value="Girona">Girona</option>
                                <option value="Granada">Granada</option>
                                <option value="Guadalajara">Guadalajara</option>
                                <option value="Guipuzcoa">Guipúzcoa</option>
                                <option value="Huelva">Huelva</option>
                                <option value="Huesca">Huesca</option>
                                <option value="Illes Balears">Illes Balears</option>
                                <option value="Jaen">Jaén</option>
                                <option value="La Coruna">La Coruña</option>
                                <option value="La Rioja">La Rioja</option>
                                <option value="Las Palmas">Las Palmas</option>
                                <option value="Leon">León</option>
                                <option value="Lleida">Lleida</option>
                                <option value="Lugo">Lugo</option>
                                <option value="Madrid">Madrid</option>
                                <option value="Malaga">Málaga</option>
                                <option value="Melilla">Melilla</option>
                                <option value="Murcia">Murcia</option>
                                <option value="Navarra">Navarra</option>
                                <option value="Ourense">Ourense</option>
                                <option value="Palencia">Palencia</option>
                                <option value="Pontevedra">Pontevedra</option>
                                <option value="Salamanca">Salamanca</option>
                                <option value="Santa Cruz de Tenerife">Santa Cruz de Tenerife</option>
                                <option value="Segovia">Segovia</option>
                                <option value="Sevilla">Sevilla</option>
                                <option value="Soria">Soria</option>
                                <option value="Tarragona">Tarragona</option>
                                <option value="Teruel">Teruel</option>
                                <option value="Toledo">Toledo</option>
                                <option value="Valencia">Valencia</option>
                                <option value="Valladolid">Valladolid</option>
                                <option value="Vizcaya">Vizcaya</option>
                                <option value="Zamora">Zamora</option>
                                <option value="Zaragoza">Zaragoza</option>
                            </select>
                            <label for="location">Lokalidadea</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="checkbox-group">
                            <label for="languages">Hizkuntzak</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="english" id="englishCheckbox">
                                <label class="form-check-label" for="englishCheckbox">Ingelesa</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="spanish" id="spanishCheckbox">
                                <label class="form-check-label" for="spanishCheckbox">Gaztelera</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="checkbox-group">
                            <label class="form-check-label">&nbsp;</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="basque" id="basqueCheckbox">
                                <label class="form-check-label" for="basqueCheckbox">Euskera</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="german" id="germanCheckbox">
                                <label class="form-check-label" for="germanCheckbox">Alemaniera</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="mode">
                                <option value="" selected>---Aukeratu modua---</option>
                                <option value="online">Online</option>
                                <option value="inPerson">Presentziala</option>
                            </select>
                            <label for="mode">Lan modua</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="duration">
                                <option value="" selected>---Aukeratu iraupena---</option>
                                <option value="short">Laburra</option>
                                <option value="medium">Ertaina</option>
                                <option value="long">Luzekoa</option>
                            </select>
                            <label for="duration">Iraupena</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating salary-container">
                            <div>
                                <label for="ratingRange" class="form-label">Balorazio minimoa</label>
                                <input type="range" class="form-range" min="1" max="5" step="1" id="ratingRange">
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>1</span>
                                <span>5</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Bilatu</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>